
.story {
  &__pictures{
    background-color: $color-primary;
    background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .55)), url(../img/back.jpg);
    grid-column: full-start / col-end 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-column: full-start / -1;
    }
  }

  &__img--1{
    width: 100%;
    grid-row: 2 / span 4;
    grid-column: 2 / span 4;
    box-shadow: $shadow-extra-light;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 1 / -1;
      grid-column: 1 / span 3;
    }
  }
  &__img--2{
    width: 115%;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    box-shadow: $shadow-light;
    z-index: 100;

    @media only screen and (max-width: $bp-medium) {
      height: 100%;
      width: auto;
      grid-row: 1 / -1;
    }
  }

  &__content{
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;
    padding: 0 6vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media only screen and (max-width: $bp-medium) {
      padding: 6rem;
      grid-column: full-start / -1;
      grid-row: 5 / 6;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
  }
}
